*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand{
    margin-left: 100px;
    font-weight: 900;
    font-size:2rem;
}
.nav-item{
margin-left: 40px;

}

.btn{
    width: 220px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
}
.slider{
    /* background-color: aqua; */
    width: 100%;
    height: 80vh;
    display: flex;
}
.box1{
    width: 50%;
    height: 80vh;
    /* border: 2px solid black; */

}


.box2{
    width: 50%;
    height: 80vh;
    /* border: 2px solid black; */
}
@media only screen and (max-width:1004px) {
    .slider{
        display: block;
        
    }
    .box1{
        width: 100%;
    }
    
    .box2{
        width: 100%;
    }
}
.nav2{
    width: 100%;
    height: 50px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 30px;
    margin-top: 100px;
}
@media only screen and (max-width:1004px) {
    .nav2{
    margin-top: 900px;
    }
        
    }
    .services{
        width: 100%;
        height: 80px;
        /* border: 2px solid black; */
        display: flex;
        gap: 30px;
        margin-top: 100px;
        align-items: center;
        flex-wrap: wrap;
    }
    .services h1{
        /* border: 1px solid black; */
        border-radius: 5px;
        margin-left: 100px;
        background-color: #B9FF66;
        width: 150px;
    }
   

        .cards-box{
            margin-top: 100px;
            width: 100%;
            height: 350px;
            /* border: 2px solid red; */
            display: flex;
            justify-content: center;
         gap: 40px;
         
        }
           
        .card1{
            width: 40%;
            height: 100%;
            /* border: 2px solid rgb(5, 5, 5); */
            
        }
        .card2{
            width: 40%;
            height: 100%;
            /* border: 2px solid rgb(255, 0, 0); */
            
        }

       @media only screen and (max-width:800px) {
        .services{
 display: flex;
 justify-content: center;
 margin-top: 200px;
        
        }
        .services p{
            font-size: 0.8rem;
        }
        .cards-box{
          display: flex;
          flex-direction: column;
 align-items: center;
        gap: 0px;
        }
        .card1{
            width: 100%;
        }
        .card2{
            width: 100%;
        }
        }

        .work{
            width: 100%;
            height: 80px;
            /* border: 2px solid black; */
            display: flex;
            gap: 30px;
            margin-top: 100px;
            align-items: center;
            flex-wrap: wrap;
        }
        .work h1{
            /* border: 1px solid black; */
            border-radius: 5px;
            margin-left: 100px;
            background-color: #B9FF66;
           
        }
        @media only screen and (max-width:864px) {
            .work {
             display: flex;
             justify-content: center;
             margin-top: 200px;
               
            }
            }
.btntext{
    width: 70%;
    height: 90vh;
    /* background-color: #B9FF66; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.textcard{
    width: 80%;
    height: 100%;
   /* border: 2px solid black; */
   margin-top: 100px;
   
}

@media only screen and (max-width:860px) {
    .textcard img{
       
        height: 80%;
       
    }
    }
    .contact{
        width: 100%;
        height: 80px;
        /* border: 2px solid black; */
        display: flex;
        gap: 30px;
        margin-top: 150px;
        align-items: center;
        flex-wrap: wrap;

    }
    .contact h1{
        /* border: 1px solid black; */
        border-radius: 5px;
        margin-left: 150px;
        background-color: #B9FF66;
       
    }
    .formm{
        margin-top: 100px;
        width: 80%;
      
       margin: 0px auto;
    }
    @media only screen and (max-width:864px) {
        .contact p {
      margin-left: 150px;

 
           
        }
        .formm{
            margin-top: 200px;
        }
        }

        .footer{
            margin-top: 100px;
        }